@font-face {
    font-family: 'PoppinsItalic';
    src: url('./assestes/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
}

* {
    padding: 0px;
    margin: 0px;
    /* width: auto;/ */
}

/* Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #24282b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #21272b;
    opacity: 0.4;
}